<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.launching.mavenLaunchParticipants">
      <mavenLaunchParticipant
            class="io.sidespin.eclipse.m2e.chromatic.internal.ColoredMavenLaunchParticipant"
            id="m2e.chromatic.coloredMavenLaunchParticipant"
            name="Colored output extension"
            modes="run,debug">
      </mavenLaunchParticipant>
   </extension>
</plugin>
